{% extends "base.html" %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="card" style="width: 28rem;">
    <div class="card-body">
      <!-- Pills content -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
          <input type="hidden" name="next" value="{{ request.GET.next }}">
          <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="text-center mb-3">
              <p>Sign in with:</p>
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button>
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
              </button>
            </div>

            <p class="text-center">or:</p>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="loginName" class="form-control" name="login" value="{{ request.GET.username }}">
              <label class="form-label" for="loginName">Email or username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="loginPassword" class="form-control" name="password" value="{{ request.GET.password }}">
              <label class="form-label" for="loginPassword">Password</label>
            </div>

            <!-- 2 column grid layout -->
            <div class="row mb-4">
              <!-- ... (rest of your form content) ... -->
            </div>

            <!-- Submit button -->
            <button  type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
              <p>Not a member? <a href="{% url 'account_signup'%}">Register</a></p>
            </div>
          </form>
        </div>

        <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
          {% comment %} <form method="post" action="{% url '' %}">
            {% csrf_token %}
            <!-- rest of the registration form -->
          </form> {% endcomment %}
        </div>
      </div>
      <!-- Pills content -->
    </div>
  </div>
</div>
{% endblock content %}
